#wrapper {
    width:95vw;
    height: 1700px;
    margin: auto;
    position: relative;
    top: 30px;
}
body {
    background-color: black;
    background-size: cover;
    color: white;
    font-family: Verdana, Geneva, sans-serif;
}

.top-nav-item {
    font-family: Verdana, Geneva, sans-serif;
    font-style: normal;
    text-decoration: none;
    font-size: 14pt;
    padding: 1em 0.25em;
    margin-left: 0em;
    margin-right: 0em;
    color:white;
    border-right: 1px solid rgba(128, 128, 128, 0.452);
    /* box-shadow: 0 0 0 1px inset white; */
}

#top-nav ul label {
    font-size: 40pt;
    font-weight: bold;
    color: rgb(116, 116, 116);
    padding:0;
    margin: 0;
}

.hidden-list {
    font-size: 14pt;
    display: none;
    position: absolute;
    width: max-content;
    text-align: left;
    z-index: 90;
    top: 60px;
    list-style-type: none;
    background-color: rgb(85, 127, 204);
    /* padding: 4px; */
    line-height: 40px;
}
.hidden-list div {
    /* background-color: green; */
    padding: 4px;
}
.hidden-list hr{
    padding: 0;
    margin: 0;
    line-height: 0;
}
.hidden-list div a {
    color:white;
    text-decoration: none;
    font-family: Verdana, Geneva, sans-serif;
    /* padding: 15px; */
    width: 100%;
}

.hidden-list div:hover {
    background-color: rgb(59, 87, 138);
}

.hidden-list a p{
    display: inline;
    font-size: 8pt;
}

.hidden-list:hover {
    display: inline-block;
}

.top-nav-item:hover {
    width: 120px;
    background-color: rgb(85, 127, 204);
    color:white;
    border-color: transparent;
    /* box-shadow: 0 0 0 4px inset rgb(119, 140, 231); */
    /* padding-bottom: 350px; */
}
.top-nav-item:hover + .hidden-list {
    display: list-item;
    
}

.top-nav-item + .hidden-list:hover {
    /* width: 120px; */
    background-color: rgb(85, 127, 204);
    color:white;
}

#top-nav {
    float:right;
    max-width: fit-content;
    height: 64px;
    display: flex;
    /* box-shadow: 0 0 0 1px inset green; */
    padding: 0;
    margin: 0;
    position: relative;
    /* top: -8px; */
    line-height: 64px;
    /* right: -50px; */
}
nav {
    /* display: flex;
    flex-direction: column; */
    /* background-color: black; */
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2FRsKrbS6GyRo%2Fmaxresdefault.jpg&f=1&nofb=1");
    /* box-shadow: 0 0 0 1px brown; */
    height:124px;
    max-width:100%;
    text-align: center;
}
input {
    background-color: #303030;
    border: 0;
    height: 30px;
    max-width: 80px;
    margin-right: 0;
    padding: 4px;
    position: relative;
    top: -4px;
    color:white;
}
button {
    background-color: #303030;
    color: white;
    border: 0;
    padding: 2px 8px;
    height: 38px;
    margin-left: 0;
    position: relative;
    left: -5px;
    top: 0px;
}
button img {
    width: 20px;
    position:relative;
    top: 2px;
}
ul {
    float: none;
    margin: auto;
    /* box-shadow: 0 0 0 1px inset yellow; */
}
#nasa-logo {
    width:130px;
    float: left;
    margin-left: 0px;
    left: 10px;
    top: 10px;
    margin-top: 0px;
    position: absolute;
    z-index: 0;
}

.lower-nav {
    font-family: Verdana, Geneva, sans-serif;
    width:100%;
    position: relative;
    float: right;
    margin-top: 20px;
    /* background-color: green; */
    font-size:11pt;
}
.lower-nav-list {
    margin-right: 200px;
    background-color: rgb(88, 88, 88);
    float: right;
    position: relative;
    /* height:fit-content; */
    /* top: 150px; */
    width:fit-content;
}
.lower-nav div{
    padding: 0;
}
.lower-nav div label{
    color: gray;
    margin-right: 0px;
    margin-left: 0px;
    font-size: 20pt;
    letter-spacing: -4px;
}
.lower-nav div p{
    display: inline;
    margin: 0;
    padding: 0;
}
.lower-nav div a{
    line-height: 40px;
    padding: 11px 8px;
    margin-right: 0px;
    margin-left: 0px;
    color: white;
    text-decoration: none;
}
.lower-nav div a:hover{
    background-color: rgb(121, 121, 121);
}

.application-alert {
    background-color: red;
    width:1269px;
    position: relative;
    left: 10px;
    margin: auto;
    margin-top: 5px;
    font-size: 12pt;
    padding-top: 8px;
    padding-bottom: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
.application-alert a{
    text-decoration: none;
    color:white;
    cursor: pointer;
    margin-left: 10px;
}
.application-alert:hover{
    text-decoration: underline;
}
a {
    text-decoration: none;
}
.web-body {
    margin: auto;
    width: fit-content;
    /* background-color: white; */
    height: 100px;
    position: relative;
    left: 100px;
}
.body-box {
    background-size: cover;
    display: flex;
    margin: 5px;
    float: left;
}
.body-box div {
    width:100%;
    height: 30px;
    line-height: 30px;
    padding-left: 4px;
    font-weight: bold;
    color: black;
    background-color: rgba(231, 231, 231, 0.863);
    align-self: flex-end;
}
.body-box div .blue-flag-one-line {
    background-color: rgba(75, 162, 233, 0.555); 
    color: rgba(255, 255, 255, 0.678);
    margin:none; 
    position: relative; 
    top: -67px; 
    left: -4px; 
    width: fit-content; 
    padding: 4px; 
}
.body-box div .blue-flag-two-lines {
    margin:none; 
    position: relative; 
    top: -38px; 
    left: -4px; 
    width: fit-content; 
    padding: 4px; 
    background-color: rgba(75, 162, 233, 0.555); 
    color: rgba(255, 255, 255, 0.678);
}
.box-link {
    color:white;
}
.box-link:hover {
    text-decoration: underline;
}
hr {
    border-color: rgba(255, 255, 255, 0.356);
}

footer ul {
    float: right;
    margin-right: 80px;
}
footer ul li {
    font-size: 10pt;
    margin: 10px;
    display: inline;
}
footer ul li a {
    color: rgb(61, 123, 216);
    font-weight: bold;
}

@media only screen and (max-width: 1140px) {
    body {
        
    }
    .top-nav-item {
        font-size: 12pt;
    }
    ul {
    }
}
@media only screen and (max-width: 1000px) {
    body {
        
    }
    .top-nav-item {
        display:none;
    }
    #top-nav ul label {
        display:none;
    }
    ul {
    }
}